---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].publications | default: "Publications" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

<div data-v-79984edc="" class="live-haruna-ctnr z-live-haruna floating ts-dot-4" style="transform: translate(322.4px, 202px);"><div data-v-584a60c6="" data-v-79984edc="" class="speaking-bubbles"><div data-v-c0d9dea8="" data-v-73b342bb="" data-v-584a60c6="" class="base-bubble a-move-in-left speaking-bubble t-nowrap bubble-item" style="display: none;"><div data-v-c0d9dea8="" class="content-ctnr p-relative"><div data-v-73b342bb="" class="content a-move-in-left">(=・ω・=)</div></div></div><!----><div data-v-0bb31f10="" data-v-584a60c6="" class="bubble-list bubble-gift-item"><div data-v-0bb31f10=""></div></div></div><div data-v-79984edc="" class="haruna-ctnr none-select" style=""><canvas data-v-79984edc="" width="250" height="250" class="haruna-canvas"></canvas><button data-v-79984edc="" class="minimize-btn pointer bg-contain"></button></div><div data-v-cee07930="" data-v-79984edc="" role="button" class="avatar-btn pointer a-scale-in-ease model-22" style="display: none;"></div></div>

<p><font size="4">
  <a href="https://icg.gwu.edu/sites/g/files/zaxdzs1481/f/downloads/Shang_IEEEVR2020.pdf">
    <img src = "../assets/publication_imgs/vr20_poster_pipeline.png" alt>
  </a>
  <span class = "entry">
    <strong>Automated Assessment System with Cross Reality for Neonatal Endotracheal Intubation Training</strong>
    <br>
    "<b>Shang Zhao</b>, Wei Li, Xiaoke Zhang, Xiao Xiao, Yan Meng, John Philbeck, Naji Younes, Rehab Alahmadi, Lamia Soghier, James Hahn"
    <br>
    <em>
    2020 IEEE Conference on Virtual Reality and 3D User Interfaces (VR)   
    </em>
    <br>
    <em><b>Honorable Mention</b></em>
    <br>
    <a href="https://icg.gwu.edu/sites/g/files/zaxdzs1481/f/downloads/Shang_IEEEVR2020.pdf">
      [ pdf ]
    </a>
  </span>
</font></p>

<p><font size="4">
  <a href="https://icg.gwu.edu/sites/g/files/zaxdzs1481/f/downloads/Xiao_IEEEVR2020.pdf">
    <img src = "../assets/publication_imgs/vr_intubation.png" alt>
  </a>
  <span class = "entry">
    <strong>A Physics-based Virtual Reality Simulation Framework for Neonatal Endotracheal Intubation</strong>
    <br>
    "Xiao Xiao, <b>Shang Zhao</b>, Yan Meng, Xiaoke Zhang, Lamia Soghier, James Hahn"
    <br>
    <em>
    2020 IEEE Conference on Virtual Reality and 3D User Interfaces (VR)   
    </em>
    <br>
    <em><b>Best Paper Award</b></em>
    <br>
    <a href="https://icg.gwu.edu/sites/g/files/zaxdzs1481/f/downloads/Xiao_IEEEVR2020.pdf">
      [ pdf ]
    </a>
  </span>
</font></p>

<p><font size="4">
  <a href="http://openaccess.thecvf.com/content_WACV_2020/papers/Li_Robust_Template-Based_Non-Rigid_Motion_Tracking_Using_Local_Coordinate_Regularization_WACV_2020_paper.pdf">
    <img src = "../assets/publication_imgs/non_rigid_template_local_coord.png" alt>
  </a>
  <span class = "entry">
    <strong>Robust Template-Based Non-Rigid Motion Tracking Using Local Coordinate Regularization</strong>
    <br>
    "Wei Li, <b>Shang Zhao</b>, Xiao Xiao, James Hahn"
    <br>
    <em>
    2020 IEEE Winter Conference on Applications of Computer Vision (WACV)   
    </em>
    <br>
    <a href="http://openaccess.thecvf.com/content_WACV_2020/papers/Li_Robust_Template-Based_Non-Rigid_Motion_Tracking_Using_Local_Coordinate_Regularization_WACV_2020_paper.pdf">
      [ pdf ]
    </a>
  </span>
</font></p>

<p><font size="4">
  <a href="https://icg.gwu.edu/sites/g/files/zaxdzs1481/f/watermarked_1807.pdf">
    <img src = "../assets/publication_imgs/accurate_body_fat_recon.png" alt>
  </a>
  <span class = "entry">
    <strong>Accurate Non-rigid 3D Human Body Surface Reconstruction Using Commodity Depth Sensors</strong>
    <br>
    "Yao Lu, <b>Shang Zhao</b>, Naji Younes, James Hahn"
    <br>
    <em>
    Computer Animation and Virtual Worlds 2018, DOI: 10.1002/cav.1807 
    </em>
    <br>
    <a href="https://icg.gwu.edu/sites/g/files/zaxdzs1481/f/watermarked_1807.pdf">
      [ pdf ]
    </a>
  </span>
</font></p>

<!-- 
{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}
 -->


{% include paginator.html %}
