---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].publications | default: "Publications" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

<p><font size="4">
  <a href="https://icg.gwu.edu/sites/g/files/zaxdzs1481/f/downloads/An%20Intelligent%20Augmented%20Reality%20Training%20Framework%20for%20Neonatal%20Endotracheal%20Intubation.pdf"></a>
    <img src = "../assets/publication_imgs/ismar2020.png" alt>
  </a>
  <span class = "entry">
    <strong>An Intelligent Augmented Reality Training Framework for Neonatal Endotracheal Intubation</strong>
    <br>
    "<b>Shang Zhao</b>, Xiao Xiao, Qiyue Wang, Xiaoke Zhang, Wei Li, Lamia Soghier, James Hahn"
    <br>
    <em>
    2020 IEEE International Symposium on Mixed and Augmented Reality (ISMAR) <b>[CCF-B]</b>
    </em>
    <a href="https://icg.gwu.edu/sites/g/files/zaxdzs1481/f/downloads/An%20Intelligent%20Augmented%20Reality%20Training%20Framework%20for%20Neonatal%20Endotracheal%20Intubation.pdf">
      [ pdf ]
    </a>
  </span>
</font></p>

<p><font size="4">
  <a href="https://icg.gwu.edu/sites/g/files/zaxdzs1481/f/downloads/Shang_IEEEVR2020.pdf">
    <img src = "../assets/publication_imgs/vr20_poster_pipeline.png" alt>
  </a>
  <span class = "entry">
    <strong>Automated Assessment System with Cross Reality for Neonatal Endotracheal Intubation Training</strong>
    <br>
    "<b>Shang Zhao</b>, Wei Li, Xiaoke Zhang, Xiao Xiao, Yan Meng, John Philbeck, Naji Younes, Rehab Alahmadi, Lamia Soghier, James Hahn"
    <br>
    <em>
    2020 IEEE Conference on Virtual Reality and 3D User Interfaces Abastract and Workshops (VRW) 
    </em>
    <br>
    <em><b>Honorable Mention</b></em>
    <br>
    <a href="https://icg.gwu.edu/sites/g/files/zaxdzs1481/f/downloads/Shang_IEEEVR2020.pdf">
      [ pdf ]
    </a>
  </span>
</font></p>

<p><font size="4">
  <a href="https://icg.gwu.edu/sites/g/files/zaxdzs1481/f/downloads/Xiao_IEEEVR2020.pdf">
    <img src = "../assets/publication_imgs/vr_intubation.png" alt>
  </a>
  <span class = "entry">
    <strong>A Physics-based Virtual Reality Simulation Framework for Neonatal Endotracheal Intubation</strong>
    <br>
    "Xiao Xiao, <b>Shang Zhao</b>, Yan Meng, Xiaoke Zhang, Lamia Soghier, James Hahn"
    <br>
    <em>
    2020 IEEE Conference on Virtual Reality and 3D User Interfaces (VR)  <b>[CCF-A]</b>
    </em>
    <br>
    <em><b>Best Paper Award</b></em>
    <br>
    <a href="https://icg.gwu.edu/sites/g/files/zaxdzs1481/f/downloads/Xiao_IEEEVR2020.pdf">
      [ pdf ]
    </a>
  </span>
</font></p>

<p><font size="4">
  <a href="http://openaccess.thecvf.com/content_WACV_2020/papers/Li_Robust_Template-Based_Non-Rigid_Motion_Tracking_Using_Local_Coordinate_Regularization_WACV_2020_paper.pdf">
    <img src = "../assets/publication_imgs/non_rigid_template_local_coord.png" alt>
  </a>
  <span class = "entry">
    <strong>Robust Template-Based Non-Rigid Motion Tracking Using Local Coordinate Regularization</strong>
    <br>
    "Wei Li, <b>Shang Zhao</b>, Xiao Xiao, James Hahn"
    <br>
    <em>
    2020 IEEE Winter Conference on Applications of Computer Vision (WACV)  
    </em>
    <br>
    <a href="http://openaccess.thecvf.com/content_WACV_2020/papers/Li_Robust_Template-Based_Non-Rigid_Motion_Tracking_Using_Local_Coordinate_Regularization_WACV_2020_paper.pdf">
      [ pdf ]
    </a>
  </span>
</font></p>

<p><font size="4">
  <a href="https://icg.gwu.edu/sites/g/files/zaxdzs1481/f/watermarked_1807.pdf">
    <img src = "../assets/publication_imgs/accurate_body_fat_recon.png" alt>
  </a>
  <span class = "entry">
    <strong>Accurate Non-rigid 3D Human Body Surface Reconstruction Using Commodity Depth Sensors</strong>
    <br>
    "Yao Lu, <b>Shang Zhao</b>, Naji Younes, James Hahn"
    <br>
    <em>
    Computer Animation and Virtual Worlds 2018, DOI: 10.1002/cav.1807 <b>[CCF-C]</b>
    </em>
    <br>
    <a href="https://icg.gwu.edu/sites/g/files/zaxdzs1481/f/watermarked_1807.pdf">
      [ pdf ]
    </a>
  </span>
</font></p>

<p><font size="4">
  <a>
    <img src = "../assets/publication_imgs/net_arch_cnn_EMBC.png" alt>
  </a>
  <span class = "entry">
    <strong>Automated Assessment System for Neonatal Endotracheal Intubation Using Dilated Convolutional Neural Network</strong>
    <br>
    "<b>Shang Zhao</b>, Xiao Xiao, Xiaoke Zhang, Wei Li, Yan Meng, Lamia Soghier, James Hahn"
    <br>
    <em>
      2020 42nd Annual International Conference of the IEEE Engineering in Medicine and Biology Society (EMBC)
    </em>
    <br>
  </span>
</font></p>

<!-- 
{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}
 -->


{% include paginator.html %}
