---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].publications | default: "Publications" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

<p>
  <a href="https://icg.gwu.edu/sites/g/files/zaxdzs1481/f/downloads/Xiao_IEEEVR2020.pdf">
    <img src = "../assets/publication_imgs/vr_intubation.png" alt>
  </a>
  <span class = "entry">
    <strong>A Physics-based Virtual Reality Simulation Framework for Neonatal Endotracheal Intubation</strong>
    <br>
    "Xiao Xiao, Shang Zhao, Yan Meng, Xiaoke Zhang, Lamia Soghier, James Hahn"
    <br>
    <em>
    2020 IEEE Conference on Virtual Reality and 3D User Interfaces (VR)   
    </em>
    <em>Best Conference Paper</em>
    " | "
    <a href="https://icg.gwu.edu/sites/g/files/zaxdzs1481/f/downloads/Xiao_IEEEVR2020.pdf">
      pdf
    </a>
  </span>
</p>

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
